Repository wta-fourty-love/application, pull requests merged in 2022-07, with the labels that each got.

#151 [App-93]: add Semantic PRs GitHub App config file semantic.yml
  .github/semantic.yml
Labels: Configuration, GitHub, CI/CD

#154 [App-94]: set Semantic PRs to only validate the PR title / ignore commits title
  .github/semantic.yml
Labels: Configuration, GitHub

#156 [App-95]: add default list of Conventional Commit Types to Semantic PRs config
  .github/semantic.yml
Labels: Configuration, GitHub, CI/CD

#159 [App-97]: add new type of feature_branch to Semantic PRs config list
  .github/semantic.yml
Labels: Configuration, GitHub, CI/CD

#166 [App-103]: merge RSpec spec_helper to rails_helper one, set up rails_helper file as default for RSpec
  .rspec
  spec/rails_helper.rb
  spec/spec_helper.rb
Labels: Configuration, Testing

#132 feature_branch: Initial Testing RSpec Setup [02/02]
  .rspec
  spec/spec_config.rb
  spec/spec_helper.rb
  test/application_system_test_case.rb
  test/integration/.keep
  test/system/.keep
  test/test_helper.rb
Labels: Configuration, Testing, Architecture

#170 [App-105]: add License-Finder gem
  Gemfile
  Gemfile.lock
Labels: Gemfile, Security, CI/CD

#173 [App-106]: add Country model database columns specs
  spec/models/country_spec.rb
Labels: Database, Testing, Model

#179 [App-109]: add Development Multi Env Encrypted Secure Credentials
  config/credentials/development.key
  config/credentials/development.yml.enc
Labels: Configuration, Credentials

#182 [App-100]: add Production Multi Env Encrypted Secure Credentials
  .gitignore
  config/credentials/production.yml.enc
Labels: Configuration, GitHub, Credentials

#185 [App-115]: add Testing Multi Env Encrypted Secure Credentials
  config/credentials/test.key
  config/credentials/test.yml.enc
Labels: Configuration, Testing, GitHub, Credentials

#180 Feature Branch: add Multi Env Encrypted Secure Credentials
  .gitignore
  config/credentials/development.key
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.key
  config/credentials/test.yml.enc
Labels: Configuration, Testing, GitHub, Credentials

#188 [App-118]: add Bullet gem to Development to kill N+1 queries, unused eager loading and lacking counter cache
  Gemfile
  Gemfile.lock
Labels: Gemfile, Database

#191 [App-119]: install Bullet, add default config to Development Env config
  config/environments/development.rb
Labels: Database, Configuration, Architecture

#212 [App-132]: add GitHub Actions CI status badge for Staging to README
  README.md
Labels: GitHub, CI/CD, Documentation

#214 [App-133]: Split Github Action CI workflow into three: Testing, Dependency Vulnerabilities, Static Analysis Security Vulnerabilities
  .github/workflows/dependency_vulnerabilities.yml
  .github/workflows/static_analysis_security_vulnerabilities.yml
  .github/workflows/testing.yml
Labels: GitHub, CI/CD

#217 [App-135]: bump Rails Core libraries to 7.0.3.1
  Gemfile
  Gemfile.lock
Labels: Gemfile, Security

#218 Feature Branch: bump Rails Core libraries to 7.0.3.1 to fix RCE bug with Serialized Columns in Active Record - CVE-2022-32224
  Gemfile
  Gemfile.lock
Labels: Gemfile, Security

#220 [App-136]: update README to show three Staging security badges for new workflows
  README.md
Labels: GitHub, CI/CD, Documentation

#222 [App-137]: add GitHub Actions CI security status badges for Production/Main to README
  README.md
Labels: GitHub, CI/CD, Documentation

#224 [App-139]: update GitHub Actions CI security status badges links to follow new Organization name
  README.md
Labels: GitHub, CI/CD, Documentation

#210 Feature Branch: add README and GitHub Actions status badges, split CI workflows
  .github/workflows/dependency_vulnerabilities.yml
  .github/workflows/static_analysis_security_vulnerabilities.yml
  .github/workflows/testing.yml
  README.md
Labels: Configuration, GitHub, CI/CD, Documentation

#227 [App-143/145]: remove comments / not used Gems (including Debug) from Gemfile
  Gemfile
  Gemfile.lock
Labels: Gemfile, Testing

#152 Feature Branch: Gem Cleanup & Semantic PRs config
  .github/semantic.yml
  Gemfile
  Gemfile.lock
Labels: Gemfile, Configuration, Testing, GitHub, CI/CD

#140 Feature Branch: add Country model, tests & factory
  app/models/country.rb
  db/migrate/20220630224138_create_countries.rb
  db/schema.rb
  spec/factories/country.rb
  spec/models/country_spec.rb
Labels: Database, Testing, Model

#232 [App-106]: fix: add Country model database columns specs
  spec/models/country_spec.rb
Labels: Database, Testing, Model

#233 Feature: add Tournament model, tests & factory
  app/models/tournament.rb
  db/migrate/20220712211955_create_tournaments.rb
  db/schema.rb
  spec/factories/tournament.rb
  spec/models/tournament_spec.rb
Labels: Database, Testing, Model

#243 [App-149]: add License-Finder config, add checks on bundler, yarn and npm package managers, set decision file to dependency_decisions.yml
  Gemfile.lock
  config/license_finder.yml
Labels: Gemfile, Configuration, Security, Architecture, Yarn/NPM

#245 [App-150]: add License-Finder dependency_decision.yml config, add allowed licences: MIT, Brakeman Public Use License, GPL-3.0+, Apache 2.0, Simplified BSD, New BSD
  config/dependency_decisions.yml
Labels: Configuration, Security

#247 [App-151]: add Allowed Dependency Licensing job as GitHub Actions workflow, add allowed licences
  .github/workflows/allowed_dependency_licensing.yml
Labels: GitHub, Security, CI/CD

#250 [App-152/153]: update README to show Staging/Production status security badge for add Allowed Dependency Licensing workflow
  README.md
Labels: GitHub, CI/CD, Documentation

#254 [App-155]: remove ActiveStorage Core gem/library
  Gemfile
  Gemfile.lock
Labels: Gemfile, Configuration

#257 [App-156]: remove Storage configs and contexts
  .gitignore
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/storage.yml
  storage/.keep
Labels: Gemfile, Configuration, GitHub, Architecture

#256 [App-157]: remove ActionText Core gem/library & configs
  .gitignore
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/storage.yml
  storage/.keep
Labels: Gemfile, Configuration, Architecture

#255 Feature: remove ActiveStorage/ActionText Rails Core libraries
  .gitignore
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/storage.yml
  storage/.keep
Labels: Gemfile, Configuration, Architecture

#259 [App-159]: set up Robert @wittywolk as CODEOWNER for every file in Application repository
  .github/CODEOWNERS
Labels: Configuration, GitHub, Security, CI/CD

#265 [App-171]: add relationship: Country has many Tournaments, Tournament belongs to Country, add default specs
  app/models/country.rb
  app/models/tournament.rb
  db/migrate/20220714234432_add_tournaments_to_country.rb
  db/schema.rb
  spec/models/country_spec.rb
  spec/models/tournament_spec.rb
Labels: Database, Testing, Model

#270 [App-173/174]: add Countries context in API, add Entities context, add Country entity & specs
  app/api/countries/entities/country.rb
  spec/api/countries/entities/country_spec.rb
Labels: Testing, Architecture, Model, Entity

#276 [App-176]: update GHA workflow for Allowed Dependency Licensing to run on ubuntu-latest instead of ubuntu-18.04
  .github/workflows/allowed_dependency_licensing.yml
Labels: GitHub, Security, CI/CD

#278 [App-177]: update GHA workflow for Dependency Vulnerabilities to run on ubuntu-latest instead of ubuntu-18.04
  .github/workflows/dependency_vulnerabilities.yml
Labels: GitHub, Security, CI/CD

#279 [App-178]: update GHA workflow for Static Analysis Security Vulnerabilities to run on ubuntu-latest instead of ubuntu-18.04
  .github/workflows/static_analysis_security_vulnerabilities.yml
Labels: GitHub, Security, CI/CD

#280 [App-179]: update GHA workflow for Testing to run on ubuntu-latest instead of ubuntu-18.04
  .github/workflows/testing.yml
Labels: Testing, GitHub, Security, CI/CD

#277 Feature: update GHA workflows to run on ubuntu-latest instead of ubuntu-18.04
  .github/workflows/allowed_dependency_licensing.yml
  .github/workflows/dependency_vulnerabilities.yml
  .github/workflows/static_analysis_security_vulnerabilities.yml
  .github/workflows/testing.yml
Labels: Testing, GitHub, Security, CI/CD

#282 [App-175]: remove ApplicationRecord, set Models to inherit from ActiveRecord::Base
  app/models/application_record.rb
  app/models/country.rb
  app/models/season.rb
  app/models/tournament.rb
Labels: Architecture, Model

#266 Feature: add Country relationship with Tournaments, add Country Entity, contexts and specs, remove ApplicationRecord
  app/api/countries/entities/country.rb
  app/models/application_record.rb
  app/models/country.rb
  app/models/season.rb
  app/models/tournament.rb
  db/migrate/20220714234432_add_tournaments_to_country.rb
  db/schema.rb
  spec/api/countries/entities/country_spec.rb
  spec/models/country_spec.rb
  spec/models/tournament_spec.rb
Labels: Database, Testing, Architecture, Model, Entity

#285 [App-180/181]: rename spec_config to spec_configuration, set us default RSpec file
  .rspec
  spec/models/season_spec.rb
  spec/models/tournament_spec.rb
  spec/spec_configuration.rb
Labels: Configuration, Testing

#288 [App-182]: remove unnecessary comments from spec_configuration file
  spec/spec_configuration.rb
Labels: Testing, Documentation

#290 [App-183]: set up RSpec configuration to explicitly use ActiveRecord
  spec/spec_configuration.rb
Labels: Configuration, Testing

#292 [App-184]: turn off profiling examples RSpec configuration that prints the 10 slowest examples and example groups at the end of the spec run
  spec/spec_configuration.rb
Labels: Configuration, Testing

#294 [App-185]: remove RSpec configuration default DOC formatter when RSpec has one file to run
  spec/spec_configuration.rb
Labels: Configuration, Testing

#286 Feature: clean spec configuration, remove uncessary comments, add settings
  .rspec
  spec/models/season_spec.rb
  spec/models/tournament_spec.rb
  spec/spec_config.rb
  spec/spec_configuration.rb
Labels: Configuration, Testing

#297 [App-186]: add .idea directory to .gitignore
  .gitignore
Labels: GitHub

#304 [App-193]: set SimpleCov minimum coverage threshold to 90%
  config/initializers/simplecov.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  spec/spec_configuration.rb
Labels: Configuration, Testing, CI/CD, Metrics

#302 [App-192/193]: add SimpleCov config & initializer, run only on Test Environment
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/.resultset.json.lock
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc_disabled.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_both.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc_disabled.png
  coverage/assets/0.12.3/application.css
  coverage/assets/0.12.3/application.js
  coverage/assets/0.12.3/colorbox/border.png
  coverage/assets/0.12.3/colorbox/controls.png
  coverage/assets/0.12.3/colorbox/loading.gif
  coverage/assets/0.12.3/colorbox/loading_background.png
  coverage/assets/0.12.3/favicon_green.png
  coverage/assets/0.12.3/favicon_red.png
  coverage/assets/0.12.3/favicon_yellow.png
  coverage/assets/0.12.3/images/ui-bg_flat_0_aaaaaa_40x100.png
  coverage/assets/0.12.3/images/ui-bg_flat_75_ffffff_40x100.png
  coverage/assets/0.12.3/images/ui-bg_glass_55_fbf9ee_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_65_ffffff_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_dadada_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_e6e6e6_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_95_fef1ec_1x400.png
  coverage/assets/0.12.3/images/ui-bg_highlight-soft_75_cccccc_1x100.png
  coverage/assets/0.12.3/images/ui-icons_222222_256x240.png
  coverage/assets/0.12.3/images/ui-icons_2e83ff_256x240.png
  coverage/assets/0.12.3/images/ui-icons_454545_256x240.png
  coverage/assets/0.12.3/images/ui-icons_888888_256x240.png
  coverage/assets/0.12.3/images/ui-icons_cd0a0a_256x240.png
  coverage/assets/0.12.3/loading.gif
  coverage/assets/0.12.3/magnify.png
  coverage/index.html
  spec/spec_configuration.rb
Labels: Configuration, Testing, CI/CD, Metrics

#306 [App-194]: add SimpleCov coverage to .gitignore
  .gitignore
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/.resultset.json.lock
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc_disabled.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_both.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc_disabled.png
  coverage/assets/0.12.3/application.css
  coverage/assets/0.12.3/application.js
  coverage/assets/0.12.3/colorbox/border.png
  coverage/assets/0.12.3/colorbox/controls.png
  coverage/assets/0.12.3/colorbox/loading.gif
  coverage/assets/0.12.3/colorbox/loading_background.png
  coverage/assets/0.12.3/favicon_green.png
  coverage/assets/0.12.3/favicon_red.png
  coverage/assets/0.12.3/favicon_yellow.png
  coverage/assets/0.12.3/images/ui-bg_flat_0_aaaaaa_40x100.png
  coverage/assets/0.12.3/images/ui-bg_flat_75_ffffff_40x100.png
  coverage/assets/0.12.3/images/ui-bg_glass_55_fbf9ee_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_65_ffffff_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_dadada_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_e6e6e6_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_95_fef1ec_1x400.png
  coverage/assets/0.12.3/images/ui-bg_highlight-soft_75_cccccc_1x100.png
  coverage/assets/0.12.3/images/ui-icons_222222_256x240.png
  coverage/assets/0.12.3/images/ui-icons_2e83ff_256x240.png
  coverage/assets/0.12.3/images/ui-icons_454545_256x240.png
  coverage/assets/0.12.3/images/ui-icons_888888_256x240.png
  coverage/assets/0.12.3/images/ui-icons_cd0a0a_256x240.png
  coverage/assets/0.12.3/loading.gif
  coverage/assets/0.12.3/magnify.png
  coverage/index.html
Labels: GitHub, Metrics

#310 [App-195]: add allowed licences: json, 2.6.2, ruby to both config and GitHub Actions Allowed Dependency Licensing job
  .github/workflows/allowed_dependency_licensing.yml
  config/dependency_decisions.yml
Labels: Configuration, Security, CI/CD

#239 Feature: add rubocop and rubocop-rails gems with configs, add Code Style Analysis job to GitHub Actions workflows
  .github/workflows/allowed_dependency_licensing.yml
  .github/workflows/code_style_analysis.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
  app/api/contracts/application_contract.rb
  app/api/countries/entities/country.rb
  app/api/exceptions/validation_error.rb
  app/controllers/application_controller.rb
  app/jobs/application_job.rb
  app/models/country.rb
  app/models/season.rb
  app/models/tournament.rb
  config.ru
  config/application.rb
  config/boot.rb
  config/dependency_decisions.yml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/importmap.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  config/routes.rb
  db/migrate/20220714234432_add_tournaments_to_country.rb
  spec/api/countries/entities/country_spec.rb
  spec/factories/country.rb
  spec/factories/season.rb
  spec/factories/tournament.rb
  spec/models/country_spec.rb
  spec/models/season_spec.rb
  spec/models/tournament_spec.rb
  spec/spec_configuration.rb
Labels: Gemfile, Configuration, GitHub, Security, CI/CD

#128 Feature: Tested Code Coverage check via SimpleCov, add SimpleCov to GHA Testing workflow - minimum threshold 90%
  .gitignore
  Gemfile
  Gemfile.lock
  spec/spec_configuration.rb
Labels: Gemfile, Testing, Metrics

#316 [App-36]: hard code version of all the added Gems
  Gemfile
  Gemfile.lock
Labels: Gemfile, Security

#318 [App-201]: update Dependency Vulnerabilities GitHub Actions job to one liner
  .github/workflows/dependency_vulnerabilities.yml
Labels: CI/CD

#321 [App-203]: add Testing Encrypted Master Key to GitHub Actions Testing job
  .github/workflows/testing.yml
Labels: Testing, GitHub, CI/CD, Credentials

#325 [App-207]: ignore 'describe', 'context' methods in Metrics/BlockLength RuboCop checks config
  .rubocop.yml
Labels: Configuration

#101 [App-39]: add Slack-Notifier gem
  Gemfile
  Gemfile.lock
Labels: Gemfile, Slack

#327 [App-208]: exclude config context from RuboCop checks
  .rubocop.yml
Labels: Configuration

#189 Feature: add Bullet integration to kill N+1 queries, unused eager loading and lacking counter cache
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Labels: Gemfile, Database, Configuration, Architecture

#329 [App-209]: remove ApplicationController
  app/controllers/application_controller.rb
Labels: Architecture, Controller

#332 [App-211]: add Object Non Exists Error to Exceptions context
  app/api/exceptions/object_non_exists_error.rb
Labels: Validation, Errors

#337 [App-212/213]: add API Controller, define & rescue from validation error with status 422
  app/controllers/api_controller.rb
Labels: Architecture, Validation, Controller, Errors

#343 [App-218]: add Seasons context to API, add Season entity & spec
  app/api/seasons/entities/season.rb
  spec/api/seasons/entities/season_spec.rb
Labels: Testing, Architecture, Model, Entity

#347 [App-219]: add Season 'add' Command, 'add' Contract & specs
  app/api/seasons/commands/add.rb
  app/api/seasons/commands/contracts/add_contract.rb
  spec/api/seasons/commands/add_spec.rb
  spec/api/seasons/commands/contracts/add_contract_spec.rb
Labels: Testing, Architecture, Validation, Commands

#350 [App-221]: add Seasons Controller, add route & endpoint and specs for 'add' action, add seasons namespace to router
  app/controllers/seasons_controller.rb
  config/routes.rb
  spec/controllers/seasons_controller_spec.rb
Labels: Architecture, Controller, Endpoint

#354 [App-225]: define object non exists error in API Controller with status 400, rescue from ::Exceptions::ObjectNonExistsError
  app/controllers/api_controller.rb
Labels: Validation, Controller, Errors

#373 Feature: initial Stimulus.js setup
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/index.js
  config/importmap.rb
Labels: Configuration, Views, Stimulus

#365 Feature: setup Asset pipeline
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  config/initializers/assets.rb
Labels: Gemfile, Configuration, Views, CSS

#360 Feature: introduce DartSass-Rails for Sass integration
  .gitignore
  Gemfile
  Gemfile.lock
  config/initializers/dartsass.rb
Labels: Gemfile, Configuration, GitHub, Views, CSS

#369 Feature: add Foreman, development binstub & Procfile.dev for rails server and dartsass:watch
  Procfile.dev
  bin/dev
Labels: Configuration, CSS, Scripts

#387 [App-236]: rename Object Non Exists error to Non Existent Object error
  app/api/exceptions/non_existent_object_error.rb
Labels: Validation, Errors

#344 Feature: add Seasons context, add Season add command, entity, contract and endpoint, include specs
  app/api/seasons/commands/add.rb
  app/api/seasons/commands/contracts/add_contract.rb
  app/api/seasons/entities/season.rb
  app/controllers/api_controller.rb
  app/controllers/seasons_controller.rb
  config/routes.rb
  spec/api/seasons/commands/add_spec.rb
  spec/api/seasons/commands/contracts/add_contract_spec.rb
  spec/api/seasons/entities/season_spec.rb
  spec/controllers/seasons_controller_spec.rb
Labels: Testing, Architecture, Validation, Controller, Model, Entity, Errors, Commands, Endpoint

#389 [App-237]: add TargetRubyVersion configuration to AllCops in RuboCop config
  .rubocop.yml
Labels: Configuration

#391 [App-238]: add Database migration for Tournament Editions table
  db/migrate/20220727151509_create_tournament_editions.rb
  db/schema.rb
Labels: Database, Model

#394 [App-239]: add Tournament Edition model
  app/models/tournament_edition.rb
Labels: Database, Model

#396 [App-240]: add Tournament Edition model database columns specs
  spec/models/tournament_edition_spec.rb
Labels: Database, Testing, Model

#398 [App-241]: add Tournament Edition factory
  spec/factories/tournament.rb
  spec/factories/tournament_edition.rb
Labels: Testing

#400 [App-242]: add Tournament Edition relationship - belongs to Season and Tournament, add migration, specs, update factories
  app/models/season.rb
  app/models/tournament.rb
  app/models/tournament_edition.rb
  db/migrate/20220727155430_add_tournament_editions_to_season_and_tournament.rb
  db/schema.rb
  spec/factories/tournament_edition.rb
  spec/models/season_spec.rb
  spec/models/tournament_edition_spec.rb
  spec/models/tournament_spec.rb
Labels: Database, Testing, Model

#402 [App-243]: add Assets Images context to fix Sprockets::ArgumentError - link_tree argument must be a directory
  app/assets/images/.keep
Labels: Configuration, Architecture, Views, CSS

#404 [App-244]: rename Season 'add' Command, 'add' Contract & specs to 'create' - follow REST conventons
  app/api/seasons/commands/contracts/create_contract.rb
  app/api/seasons/commands/create.rb
  app/controllers/seasons_controller.rb
  spec/api/seasons/commands/contracts/create_contract_spec.rb
  spec/api/seasons/commands/create_spec.rb
Labels: Testing, Architecture, Validation, Commands

#417 [App-248]: disable Metrics/BlockLength and Metrics/MethodLength Cops for Database migrations
  .rubocop.yml
Labels: Database, Configuration

#384 Feature: initial Home Page endpoint, views & styles, set-up global styles, font, Polish locale & stylesheets reset
  app/assets/images/.keep
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/home.scss
  app/assets/stylesheets/styles-reset.scss
  app/assets/stylesheets/variables.scss
  app/controllers/home_controller.rb
  app/views/home/index.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_live_game_card.html.erb
  app/views/shared/_result_card.html.erb
  config/locales/en.yml
  config/locales/pl.yml
  config/routes.rb
Labels: Configuration, Architecture, Views, CSS/SCSS, Controller, Locales, Endpoint
