Repository wta-fourty-love/application, pull requests merged in 2022-08, with the labels that each got.

#429 [App-258]: add Sentry-Ruby and Sentry-Rails gems
  Gemfile
  Gemfile.lock
Labels: Gemfile, Sentry

#432 [App-259]: use Sentry::Rack::CaptureExceptions in Rackup config file to alert Rack exceptions to Sentry
  config.ru
Labels: Configuration, Sentry

#434 [App-260]: add Sentry DSN to Development Encrypted Secure Credentials
  config/credentials/development.yml.enc
Labels: Credentials, Sentry

#436 [App-261]: add Sentry initializer, set up default breadcrumbs logging
  config/initializers/sentry.rb
Labels: Configuration, Sentry

#438 [App-262]: set-up Sentry enabled environments to Development & Production
  config/initializers/sentry.rb
Labels: Configuration, Sentry

#440 [App-263]: set-up Sentry to send sensitive data - user cookies, user ip, request body
  config/initializers/sentry.rb
Labels: Configuration, Security, Sentry

#442 [App-110]: add Staging Environment
  config/environments/staging.rb
Labels: Configuration, Architecture

#445 [App-265]: add Staging database configuration
  config/database.yml
Labels: Database, Configuration

#446 [App-99]: add Staging Encrypted Secure Credentials
  config/credentials/staging.yml.enc
Labels: Configuration, Credentials

#447 [App-117]: gitignore Staging Encrypted Secure Credentials key
  .gitignore
Labels: GitHub, Credentials

#449 [App-266]: add abort rule when ENV is Staging in RSpec configuration file
  spec/spec_configuration.rb
Labels: Configuration, Testing

#430 Feature: add Sentry integration
  Gemfile
  Gemfile.lock
  config.ru
  config/credentials/development.yml.enc
  config/initializers/sentry.rb
Labels: Gemfile, Configuration, Security, Credentials, Sentry

#415 Feature: add Player model, specs, factory and relations
  app/models/country.rb
  app/models/player.rb
  db/migrate/20220729220203_create_players.rb
  db/schema.rb
  spec/factories/player.rb
  spec/models/country_spec.rb
  spec/models/player_spec.rb
  spec/models/season_spec.rb
  spec/models/tournament_edition_spec.rb
  spec/models/tournament_spec.rb
Labels: Database, Testing, Model

#453 [App-269]: add Staging to Sentry enabled environments config
  config/initializers/sentry.rb
Labels: Configuration, Sentry

#443 Feature: add & configure Staging Environment
  .gitignore
  config/credentials/staging.yml.enc
  config/database.yml
  config/environments/staging.rb
  config/initializers/sentry.rb
  spec/spec_configuration.rb
Labels: Database, Configuration, Testing, GitHub, Credentials, Architecture, Sentry

#455 [App-270]: add Dry-Initializer gem
  Gemfile
  Gemfile.lock
Labels: Gemfile

#459 [App-271]: add Dry-Types gem
  Gemfile
  Gemfile.lock
Labels: Gemfile
